

<div *ngIf="selected" >
  <button class="btn btn-primary" (click)="displayAllEvents()">Back</button>
  <!-- <h1>{{selected.id}}</h1>
  <h1>{{selected.name}}</h1>
  <h1>{{selected.description}}</h1>
  <h1>{{selected.createdDate}}</h1>
  <h1>{{selected.startDate}}</h1>
  <h1>{{selected.endDate}}</h1>
  <button *ngIf="!checkParticipant()" class="btn btn-primary" (click)="addParticipant(selected.id)">Join Event</button> -->

  <!-- <button *ngIf="checkAdmin(selected)" class="btn btn-primary" (click)="setEditEvent()">Edit Event</button> -->
<br>
<br>
  <!-- <ul *ngIf="checkParticipant()">
    <li *ngFor="let message of messages">{{message.description}}<button *ngIf="checkMessageOwner(message)"   (click)="deleteMessage(message.id)">Delete</button></li>
  </ul>
  <input type="text"  name="description" [(ngModel)]="newMessage.description">
  <button class="btn btn-primary" (click)="createMessage(newMessage, selected.id)">Submit</button> -->

</div>

<div *ngIf="!selected">
<div id="eventPadding" *ngFor="let event of events" class="list-group">
  <a (click)="displayEvent(event)" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{event.name}}</h5>
      <small>Event Created: {{event.createdDate | date: "MM/dd/yyyy"}}</small>
    </div>
    <p class="mb-1">{{event.description}}</p>
    <p>Start Date: {{event.startDate | date: "MM/dd/yyyy"}}</p>
    <small>{{event.address.city}}, {{event.address.state}}</small>
  </a>
</div>
</div>


<div *ngIf="selected" class="card" style="width: 80%;">
  <img class="card-img-top" src="https://www.signupgenius.com/cms/socialMediaImages/beach-clean-up-tips-ideas-facebook-1200x630.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{selected.name}}</h5>
    <p class="card-text">{{selected.description}}</p>
    <p class="card-text">{{selected.startDate}}</p>
    <p class="card-text">{{selected.endDate}}</p>
    <p class="card-text">{{selected.address.street}}</p>
    <p class="card-text">{{selected.address.city}}</p>
    <p class="card-text">{{selected.address.state}}</p>
    <p class="card-text">{{selected.address.zip}}</p>
    <button *ngIf="checkAdmin(selected)" class="btn btn-primary" (click)="setEditEvent()">Edit Event</button>
    <button *ngIf="checkAdmin(selected)" class="btn btn-primary" (click)="setEditEvent()">Delete Event</button>
    <button *ngIf="!checkParticipant()" class="btn btn-primary" (click)="addParticipant(selected.id)">Join Event</button>
    <button *ngIf="checkParticipant()" class="btn btn-primary" (click)="removeParticipant(selected.id)">Leave Event</button>
  </div>
</div>


<div *ngIf="editVolunteerevent">
  <form>
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="editVolunteerevent.name" ><br>
    <label class="form-label">Description</label>
    <input class="form-control" type="text" name="description" [(ngModel)]="editVolunteerevent.description" ><br>
    <label class="form-label">Start Date</label>
    <input class="form-control" type="datetime-local" name="startDate" [(ngModel)]="editVolunteerevent.startDate" ><br>
    <label class="form-label">End Date</label>
    <input class="form-control" type="datetime-local" name="endDate" [(ngModel)]="editVolunteerevent.endDate" ><br>
    <label class="form-label">Street Address</label>
    <input class="form-control" type="text" name="address" [(ngModel)]="editVolunteerevent.address.street" ><br>
    <label class="form-label">City</label>
    <input class="form-control" type="text" name="city" [(ngModel)]="editVolunteerevent.address.city" ><br>
    <label class="form-label">State</label>
    <input class="form-control" type="text" name="state" [(ngModel)]="editVolunteerevent.address.state" ><br>
    <label class="form-label">Zip Code</label>
    <input class="form-control" type="text" name="zip" [(ngModel)]="editVolunteerevent.address.zip" ><br>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" (click)="updateEvent(editVolunteerevent)">Save</button>
      <button type="button" class="btn btn-primary" (click)="editVolunteerevent = null">Cancel</button>
    </div>

    <div *ngIf="selected">
    <ul *ngIf="checkParticipant()">
      <li *ngFor="let message of messages">{{message.description}}<button *ngIf="checkMessageOwner(message)"   (click)="deleteMessage(message.id)">Delete</button></li>
    </ul>
    <input type="text"  name="description" [(ngModel)]="newMessage.description">
    <button class="btn btn-primary" (click)="createMessage(newMessage, selected.id)">Submit</button>
  </div>

</form>
</div>





