<div *ngIf="checkLogIn()">
<button (click)="newOrg()">Create New Org</button>
</div>
<div *ngIf="!selectedOrganization && !editOrganization && !newOrganization">
  <ul>
    <li *ngFor="let org of allOrgs" (click)="selectedOrganization = org">
      {{ org.name }}
    </li>
  </ul>
</div>

<div *ngIf="selectedOrganization">
  <h1>{{ selectedOrganization.name }}</h1>

  <button *ngIf="checkAdmin()" (click)="editOrg(selectedOrganization)">Edit</button>
  <button (click)="selectedOrganization = null">Back</button>
  <button *ngIf="!checkMember()" (click)="addedMemberToOrg(selectedOrganization.id)">Join Organization</button>
  <button *ngIf="checkMember()" (click)="removedFromOrg(selectedOrganization.id)"  >Leave Organization</button>
</div>

<form *ngIf="editOrganization">
  <div class="row">
    <label class="col form-label" for="lastName">Logo</label>
    <input
      class="form-control"
      type="text"
      name="logo"
      placeholder="logo"
      [(ngModel)]="editOrganization.logo"
      required
    />
  </div>

  <div class="row">
    <label class="col form-label" for="email">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      placeholder="description"
      [(ngModel)]="editOrganization.description"
      required
    />
    <button
      class="btn btn-primary"
      (click)="updateOrg(editOrganization, editOrganization.id)"
    >
      Submit
    </button>
    <button (click)="editOrganization = null">Cancel</button>
  </div>
</form>

<form *ngIf="newOrganization">
  <div class="row">
    <label class="col form-label" for="name">Name</label>
    <input
      class="form-control"
      type="text"
      name="name"
      placeholder="name"
      [(ngModel)]="newOrganization.name"
      required
    />
  </div>
  <div class="row">
    <label class="col form-label" for="lastName">Logo</label>
    <input
      class="form-control"
      type="text"
      name="logo"
      placeholder="logo"
      [(ngModel)]="newOrganization.logo"
      required
    />
  </div>

  <div class="row">
    <label class="col form-label" for="email">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      placeholder="description"
      [(ngModel)]="newOrganization.description"
      required
    />
  </div>

  <br />
  <div>
    <button class="btn btn-primary" (click)="createOrg(newOrganization)">
      Create New Organization
    </button>
    <button (click)="newOrganization = null">Cancel</button>
  </div>
</form>


<div *ngIf="selectedOrganization">
  <h1 (click)="newEvent()">Add New Event</h1>
  <form *ngIf="newVolunteerevent">
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="newVolunteerevent.name" ><br>
    <label class="form-label">Description</label>
    <input class="form-control" type="text" name="description" [(ngModel)]="newVolunteerevent.description" ><br>
    <label class="form-label">Start Date</label>
    <input class="form-control" type="text" name="startDate" [(ngModel)]="newVolunteerevent.startDate" ><br>
    <label class="form-label">End Date</label>
    <input class="form-control" type="text" name="endDate" [(ngModel)]="newVolunteerevent.endDate" ><br>
    <label class="form-label">Street Address</label>
    <input class="form-control" type="text" name="address" [(ngModel)]="newVolunteerevent.address.street" ><br>
    <label class="form-label">City</label>
    <input class="form-control" type="text" name="city" [(ngModel)]="newVolunteerevent.address.city" ><br>
    <label class="form-label">State</label>
    <input class="form-control" type="text" name="state" [(ngModel)]="newVolunteerevent.address.state" ><br>
    <label class="form-label">Zip Code</label>
    <input class="form-control" type="text" name="zip" [(ngModel)]="newVolunteerevent.address.zip" ><br>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary" (click)="createVolunteerevent(newVolunteerevent)">Create</button>
      <!-- <button type="button" class="btn btn-primary" (click)="changeAddLocationSelected()">Cancel</button> -->
    </div>
  </form>

</div>
