<div class="jumbotron" *ngIf="checkLogIn() && !selectedOrganization && !editOrganization && !newOrganization">
  <h1 class="display-4">"Be the change </h1>
  <h1 class="display-4">you want to see in the world."</h1>
  <em class="lead">- Mahatma Gandhi</em>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" role="button" (click)="newOrg()">Create an Organiztion</a>
  </p>
</div>

<div *ngIf="!selectedOrganization && !editOrganization && !newOrganization">
  <div *ngIf="!selectedOrganization">
    <div id="orgPadding" *ngFor="let org of allOrgs" class="list-group">
      <a (click)="selectedOrganization = org" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{org.name}}</h5>
        </div>
        <p class="mb-1">{{org.description}}</p>
      </a>
    </div>
  </div>
</div>

<div *ngIf="selectedOrganization && !editOrganization && !newOrganization" class="card" style="width: 80%;">
  <img *ngIf="selectedOrganization.logo" class="card-img-top" src={{selectedOrganization.logo}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{selectedOrganization.name}}</h5>
    <p class="card-text">{{selectedOrganization.description}}</p>
    <button *ngIf="checkAdmin()" class="btn btn-info" (click)="editOrg(selectedOrganization)">Edit Organization</button>
    <button *ngIf="!checkMember() && user" class="btn btn-info" (click)="addedMemberToOrg(selectedOrganization.id)">Join Organiztion</button>
    <button *ngIf="checkMember() && user" class="btn btn-info" (click)="removedFromOrg(selectedOrganization.id)">Leave Organiztion</button>
    <button class="btn btn-info" (click)="selectedOrganization = null">Back</button>
  </div>
</div>

<form *ngIf="editOrganization">
  <div class="row">
    <label class="col form-label" for="lastName">Logo</label>
    <input
      class="form-control"
      type="text"
      name="logo"
      [(ngModel)]="editOrganization.logo"
      required
    />
  </div>

  <div class="row">
    <label class="col form-label" for="email">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      [(ngModel)]="editOrganization.description"
      required
    />
    <button
      class="btn btn-info"
      (click)="updateOrg(editOrganization, editOrganization.id)"
    >
      Submit
    </button>
    <button class="btn btn-info" (click)="editOrganization = null">Cancel</button>
  </div>
</form>

<form *ngIf="newOrganization">
  <div class="row">
    <label class="col form-label" for="name">Name</label>
    <input
      class="form-control"
      type="text"
      name="name"
      placeholder="name"
      [(ngModel)]="newOrganization.name"
      required
    />
  </div>
  <div class="row">
    <label class="col form-label" for="lastName">Logo</label>
    <input
      class="form-control"
      type="text"
      name="logo"
      [(ngModel)]="newOrganization.logo"
      required
    />
  </div>

  <div class="row">
    <label class="col form-label" for="email">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      [(ngModel)]="newOrganization.description"
      required
    />
  </div>

  <br />
  <div>
    <button class="btn btn-info" (click)="createOrg(newOrganization)">
      Create New Organization
    </button>
    <button class="btn btn-info" (click)="newOrganization = null">Cancel</button>
  </div>
</form>


<div *ngIf="selectedOrganization">
  <button class="btn btn-info" (click)="newEvent()" *ngIf="checkAdmin()">Add New Event</button>
  <form *ngIf="newVolunteerevent">
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="newVolunteerevent.name" ><br>
    <label class="form-label">Description</label>
    <input class="form-control" type="text" name="description" [(ngModel)]="newVolunteerevent.description" ><br>
    <label class="form-label">Start Date</label>
    <input class="form-control" type="datetime-local" name="startDate" [(ngModel)]="newVolunteerevent.startDate" ><br>
    <label class="form-label">End Date</label>
    <input class="form-control" type="datetime-local" name="endDate" [(ngModel)]="newVolunteerevent.endDate" ><br>
    <label class="form-label">Street Address</label>
    <input class="form-control" type="text" name="address" [(ngModel)]="newVolunteerevent.address.street" ><br>
    <label class="form-label">City</label>
    <input class="form-control" type="text" name="city" [(ngModel)]="newVolunteerevent.address.city" ><br>
    <label class="form-label">State</label>
    <input class="form-control" type="text" name="state" [(ngModel)]="newVolunteerevent.address.state" ><br>
    <label class="form-label">Zip Code</label>
    <input class="form-control" type="text" name="zip" [(ngModel)]="newVolunteerevent.address.zip" ><br>
    <input *ngIf="newEventImage" type="text" name="eventImg" id="" [(ngModel)]="newEventImage.imgUrl">
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-info" (click)="createVolunteerevent(newVolunteerevent)">Create</button>
      <!-- <button type="button" class="btn btn-primary" (click)="changeAddLocationSelected()">Cancel</button> -->
    </div>
  </form>

</div>


