#orgPadding {
  padding: 10px;
}

.jumbotron {
  background-image: url('https://www.bracknell-forest.gov.uk/sites/default/files/2021-07/vounteering-header-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 4px black;
}

.list-group-item {
  background-color: #225c8f;
}
