.card-img-top {
  height: auto;
  width: 400px;
}

.card {
  width: 400px;
}

.btn {
  margin:5px;
  padding: 5px;
}

img {
  height: auto;
  width: 200px;
}

.container {
  margin:15px;
  padding:15px;
}

.grid-container {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-template-rows: auto;
	place-items: center;
	align-items: center;
	padding-top: 20px;
}

.grid-item {
	width: 300px;
}
