<!-- <div class="card-div">
  <div *ngIf="user && !editUser" class="card">
    <img class="card-img-top" src="{{user.imgUrl}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
      <p class="card-text">{{user.email}}</p>
      <p class="card-text">{{user.bio}}</p>
      <button class="btn btn-info" (click)="editAccount()">Edit Account</button>
      <button class="btn btn-info" (click)="disableAccount()">Delete Account</button>
    </div>
  </div>
</div> -->

<div *ngIf="user && !editUser" class="container">
  <div class="">
    <img *ngIf="user.imgUrl" src="{{user.imgUrl}}" alt="">
  </div>

  <div class="">
    <h3>Name: {{user.firstName}} {{user.lastName}}</h3>
    <p>About Me: {{user.bio}}</p>
    <div *ngIf="user.address">
      Address:
      <br>
      {{user.address.street}}
      <br>
      {{user.address.city}}, {{user.address.state}} {{user.address.zip}}
    </div>
  </div>
  <div class="">
    <button class="btn btn-info" (click)="editAccount()">Edit Account</button>
      <button class="btn btn-info" (click)="disableAccount()">Delete Account</button>
  </div>
</div>
<div *ngIf="user" class="container">
<h3>{{user.firstName}} is a member of these organizations:</h3>
</div>
 <div *ngIf="user" class="container grid-container">
<div *ngFor="let member of user.members" class="grid-item">
  <img *ngIf="member.organization.logo" src="{{member.organization.logo}}" alt="">
  <img *ngIf="!member.organization.logo" src="https://www.pngkey.com/png/detail/359-3593914_volunteer-opportunities-volunteer-logo.png" alt="">
  <br>
  {{member.organization.name}}
</div>


</div>







<div *ngIf="editUser">
  <div class="row mt-2">
      <div class="col-md-6"><label class="labels">First Name</label><input type="text" name="firstName" class="form-control" placeholder="first name" value="" [(ngModel)]="editUser.firstName"></div>
      <div class="col-md-6"><label class="labels">Last name</label><input type="text" name="lastName" class="form-control" value="" placeholder="Last Name" [(ngModel)]="editUser.lastName"></div>
  </div>
  <div class="row mt-3">
      <div class="col-md-12"><label class="labels">Email</label><input type="text" name="email" class="form-control" placeholder="Email" value="" [(ngModel)]="editUser.email"></div>
      <div class="col-md-12"><label class="labels">Profile Photo</label><input type="text" name="imgUrl" class="form-control" placeholder="Profile Photo" value="" [(ngModel)]="editUser.imgUrl"></div>
      <div class="col-md-12"><label class="labels">Bio</label><input type="text" name="bio" class="form-control" placeholder="Bio" value="" [(ngModel)]="editUser.bio"></div>
  </div>
  <div class="mt-5 text-center"><button  (click)="updateAccount()" class="btn btn-primary profile-button" type="button">Save Profile</button></div>
  <div class="mt-5 text-center"><button  (click)="editUser = null" class="btn btn-primary profile-button" type="button">Cancel</button></div>
</div>

