<p>register works!</p>


<form>
  <div class="row">
    <label class="col form-label" for="firstName">First Name</label>
    <input class="form-control" type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName" required>
  </div>
  <div class="row">
    <label class="col form-label" for="lastName">Last Name</label>
    <input class="form-control" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName" required>
  </div>

  <div class="row">
  <label class="col form-label" for="email">Email</label>
  <input class="form-control" type="text" name="email" placeholder="email" [(ngModel)]="newUser.email" required>
</div>
<div class="row">
  <label class="col form-label" for="password">Password</label>
  <input class="form-control"type="password" name="password" placeholder="password" [(ngModel)]="newUser.password" required>
</div>

<br>
<div>
  <button class="btn btn-primary"(click)="register(newUser)">Register Account</button>
</div>
</form>
