<div class="center"><img id="logo" src="https://i.imgur.com/NeeCQI0.png" alt="logo"></div>


<ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs justify-content-center">
	<li [ngbNavItem]="1">
		<a ngbNavLink [routerLink]="['/home']">Home</a>
		<ng-template ngbNavContent>
			<p>
			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink [routerLink]="['/volunteerevents']"><b>Events</b></a>
		<ng-template ngbNavContent>

		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink [routerLink]="['/organization']">Organizations</a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

  <li *ngIf="!loggedIn()" [ngbNavItem]="4">
		<a ngbNavLink [routerLink]="['/login']"><b>Login</b></a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

	<!-- <li ngbDropdown class="nav-item">
		<a href (click)="false" class="nav-link" ngbDropdownToggle>More</a>
		<div ngbDropdownMenu>
			<button *ngIf="loggedIn()" ngbDropdownItem [routerLink]="['/account']">Account</button>
			<button *ngIf="!loggedIn()" ngbDropdownItem [routerLink]="['/register']">Register Account</button>
			<button ngbDropdownItem>Something else here</button>
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem>Separated link</button>
		</div>
	</li> -->

  <li *ngIf="loggedIn()" [ngbNavItem]="5">
		<a ngbNavLink [routerLink]="['/account']"><b>Account</b></a>
		<ng-template ngbNavContent>
		</ng-template>
	</li>

  <li *ngIf="!loggedIn()" [ngbNavItem]="6">
		<a ngbNavLink [routerLink]="['/register']"><b>Register</b></a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

  <li *ngIf="loggedIn()" [ngbNavItem]="7">
		<a ngbNavLink (click)="logout()"><b>Logout</b></a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


