


<h1>Community United Home Page</h1>


<ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
	<li [ngbNavItem]="1">
		<a ngbNavLink [routerLink]="['/home']">Home</a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="2">
		<a ngbNavLink><b>Events</b> Volunteer</a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>
	<li [ngbNavItem]="3">
		<a ngbNavLink [routerLink]="['/organization']">Organizations</a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

  <li *ngIf="!loggedIn()" [ngbNavItem]="2">
		<a ngbNavLink [routerLink]="['/login']"><b>Login</b></a>
		<ng-template ngbNavContent>
			<p>

			</p>
		</ng-template>
	</li>

	<li ngbDropdown class="nav-item">
		<a href (click)="false" class="nav-link" ngbDropdownToggle>More</a>
		<div ngbDropdownMenu>
			<button ngbDropdownItem [routerLink]="['/account']">Account</button>
			<button ngbDropdownItem>Another action</button>
			<button ngbDropdownItem>Something else here</button>
			<div class="dropdown-divider"></div>
			<button ngbDropdownItem>Separated link</button>
		</div>
	</li>
	<li ngbNavItem class="ms-auto">
      <div *ngIf="loggedIn()">
        <app-logout></app-logout>
        </div>


	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


